.OrderList {
  margin-top: 60px;
  text-align: center;
  flex: 1;
  .noDtata {
    h3 {
      color: #6a6a6a;
      text-align: center;
      height: 20px;
      line-height: 20px;
      font-size: 18px;
      font-weight: normal;
    }
    img {
      width: 200px;
    }
  }
}
