
.eleme_logo{
  height: 50px;
  width: 150px;
  background: url('/src/images/eleme.png') no-repeat center;
  background-size: 100%;
}
// .login-form{
//   width: 100%;
//   .ant-form-item-children{
//     width: 70%;
//     border: 1px solid #000;
//   }
// }
.ant-row{
  width: 80%;
  margin: 30px auto;
}
