
  .eleme_logo{
    height: 50px;
    width: 100px;
    margin: 40px auto;
  }

// .login-form{
//   width: 100%;
//   .ant-form-item-children{
//     width: 70%;
//     border: 1px solid #000;
//   }
// }
.ant-row{
  width: 80%;
  margin: 30px auto;
}
.icon-changyonglogo41 {
  font-size: 50px;
}
