.elm-head{
  display: flex;
  justify-content: flex-start;
  height: 35px;
  line-height: 35px;
  // width: 383px;
  background-image: linear-gradient(90deg,#0af,#0085ff);
  color: #fff;
  padding: 2.666667vw 3.733333vw 0;
}
