

.eleme_logo{
  height: 50px;
  width: 150px;
  background: #eee;
  background: url('https://web-ubt.ele.me/collect/log') no-repeat center;
}
// .login-form{
//   width: 100%;
//   .ant-form-item-children{
//     width: 70%;
//     border: 1px solid #000;
//   }
// }

.antd-input{
  height: 300px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}



.eleme_login{
  display: flex;
  flex-direction: column;
  text-align: center;
  input{
    height: 30px;
    width: 300px;
    margin-top: 20px;
  }
  .Rlogin{
    margin-top: 20px;
    display: block;
    height: 30px;
    width: 300px;
    background: blue;
    color:#fff;
    line-height: 30px;
    border-radius: 5px;
    margin-left:60px;
  }
}
#username,#password{
  height: 30px;;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
